/* globali */

*{
    margin: 0;
    padding: 0;
}
a{
    color: white;
}
a:hover{
    color: black;
    cursor: pointer;
    text-decoration: underline;
}
body{
    background-color: bisque;
}
li{
    list-style: none;
}

.margin-top{
    margin-top: 20px;
}

/* contenitori */
.fixed{
    position: fixed;
    z-index: 100;
    
}
.bug{
    border: 1px solid black;
}
.logo{
    width: 150px;
}
.orange{
    background-color: rgb(255, 106, 0);
}
.contenitore-esterno{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenitore-interno{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ul-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-header li{
    padding: 5px;
}

/* main */
.white{
    background-color: white;
}
.contenitore-interno-main{
    width: 1200px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 30px;
    justify-content: space-between;
    margin-top: 20px;
}
.contenitore-colonna{
    width: calc((100% - 90px)/3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}
.contenitore-colonna img{
    width: 100%;
}

.descrizione{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc((100% - 90px)/3);
}

/* footer */
.black{
    background-color: rgb(26, 26, 26);
    color: white;
}
.contenitore-interno-footer{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenitore-nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contenitore-loghi{
    display: flex;
    flex-direction: row;
}
.contenitore-loghi li{
    padding-left: 10px;
}

/* tag su immagini */
.sconto-on-image{
    display:inline-flex;
    top: 450px;
    left: 0;
    position: absolute;
    gap: 2px;
}

.tag{
    display: flex;
    align-items: center;
    justify-content: center;
}   

.red{
    padding: 5px;
    background-color: red;
}
.blue{
    padding: 5px;
    background-color: green;
}
.invisibile{
    padding: 5px
}
.immagine-testo{
    position: relative;
}

#absolute{
    position: relative;
}

.heart{
    position: relative;
    bottom: 400px;
    left: 320px;
    font-size: 20px;
}
/* sconti e line-through */
.sconto{
    color: red;
}

#originale{
    color: black;
    padding-left: 10px;
    text-decoration: line-through;
}



/* sperimentare il cambio carta e cuore , con zindex */

.fantasma{
    position: absolute;
    opacity: 0%;
}
.fantasma:hover{
    opacity: 100%;
}